html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

body {
    background-color: hsl(213, 28%, 37%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-container {
    background-color: hsl(0, 2%, 24%);
    width: 412px;
    height: 120px;
    margin-bottom: 4px;
    border-radius: 10px 10px 0px 0px;
    text-align: right;
}

#top-display {
    width: inherit;
    height: 60px;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 35px;
}

#bottom-display {
    width: inherit;
    height: 60px;
    font-size: 40px;
    padding-right: 35px;
}

button {
    border-radius: 0%;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    width: 100px;
    height: 80px;
    margin-bottom: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto';
}

.action {
    background-color: hsl(0, 2%, 35%);
}

.action:hover {
    background-color: hsl(0, 2%, 45%);
}

.action:active {
    background-color: hsl(0, 2%, 55%);
}

.number {
    background-color: hsl(0, 2%, 51%);
}

.number:hover {
    background-color: hsl(0, 2%, 61%);
}

.number:active {
    background-color: hsl(0, 2%, 71%);
}

.operator {
    background-color: orange;
}

.operator:hover {
    background-color: hsl(39, 100%, 70%);
}

.operator:active {
    background-color: hsl(39, 100%, 80%);
}

#zero {
    width: 204px;
    border-bottom-left-radius: 10px;
}

#equal {
    border-bottom-right-radius: 10px;
}